:host {
  display: block;
}
.sidenav-container {
  height: calc(100vh - 64px); /* Subtract toolbar height */
}

.sidenav {
  width: 250px;
  background-color: #fafafa;
}

.content {
  padding: 20px;
}